<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/grid.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/queries.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <meta charset="utf-8" />
    <title>Congress Sucks!</title>
</head>
<body>
    <section class="section-blog js-section-blog" id="latest">
        <div class="row">
            <h2>Most Recent Posts</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-4 box">
                <div class="blog-box">
                    <h3>Why the Electoral College?</h3>
                    <div class="blog-date">April 15, 2019</div>
                    <p>
                        Make Every Vote Count!  That is the cry of the many Democrats today who are unhappy about President Trump’s victory in 2016.  There are calls to abolish the Electoral College because it is “undemocratic”.  Technically, that is true as the United States is a Republic and not a pure Democracy.  The Founders feared what Alexis de Tocqueville (“Democracy in America”) called the “tyranny of the majority”.
                    </p>
                    <div class="btn-blog-section">
                        <a href="/articles/why_electoral_college/why_electoral_college.html" class="btn btn-blog">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4 box">
                <div class="blog-box">
                    <h3>Second Column Span</h3>
                    <div class="blog-date">Dec 1, 2018</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur ...
                    </p>
                    <div class="btn-blog-section">
                        <a href="#" class="btn btn-blog">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4 box">
                <div class="blog-box">
                    <h3>Third Column Span</h3>
                    <div class="blog-date">Oct 15, 2018</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur ...
                    </p>
                    <div class="btn-blog-section">
                        <a href="#" class="btn btn-blog">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-4 box">
                <div class="blog-box">
                    <h3>Fourth Column Span</h3>
                    <div class="blog-date">Aug 23, 2018</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur ...
                    </p>
                    <div class="btn-blog-section">
                        <a href="#" class="btn btn-blog">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col span-2-of-2 box">
                <h2>Why <i>Congress Sucks!?</i></h2>
                <p>
                    The title of this site is inteded to be tongue-in-cheek.  If you don't get it, or you don't think it's funny, you should  probably leave now!  I think Congress Sucks! because they have abandonded thier sworn duty.  The oath of office for members of Congress begins:
                </p>
                <blockquote>
                    <p>
                        "I do solemnly swear (or affirm) that I will support and defend the Constitution of the United States against all enemies, foreign and domestic; that I will bear true faith and allegiance to the same..."
                    </p>
                </blockquote>
                <p>
                    I believe the majority of actions taken by any given Congress are not constitutional and thus violate thier oath to "support and defend".
                    I am not a lawyer, I am not a politician and I don't consider myself a constitutional expert.  I am just an ordinary citizen who reads the Constitution and doesn't understand how it could be difficult to interpret.  The goal of this site is to offer an ordinary citizen's perspective on recent events and questions in light of a plain reading of the Constitution of the United States.
                </p>
            </div>
        </div>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/Scripts/respond/src/respond.js"></script>
    <script src="~/Scripts/html5shiv/src/html5shiv.js"></script>
    <script src="~/Scripts/selectivizr/selectivizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>

</html>