<footer>
    <div class="row">
        <div class="col span-2-of-2">
            <p>
                Copyright &copy; 2019 by CongressSucks.us. &nbsp;&nbsp;&nbsp;  All rights reserved
            </p>
        </div>
    </div>

</footer>
