    <header>
        <nav>
            <div class="row">
                <ul class="main-nav">
                    <li><a href="http://congresssucks.us">Home</a></li>
                    <li><a href="http://constitutionus.com/" target="_blank">The Constitution</a></li>
                    <li><a href="#latest">Latest Articles</a></li>
                    <li><a href="#">Article Categories</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>Making the truth of the Constitution plain</h1>
        </div>
    </header>
